<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.obsqura.testscripts.Listeners"/>
</listeners>
<parameter name="username" value="admin"/>
<parameter name="password" value="admin"/>

 <test thread-count="5" name="crossbrowsing">
<parameter name="browser" value="chrome"></parameter>
 <classes>
     <class name="com.obsqura.testscripts.LoginTest">
     <methods>
         <include name="verifyingUsingValidCredentials"></include>
         <include name="verifyLoginPage"></include>
         <include name="verifyingUsingInvalidCredentials"></include>
         <include name="verifyingUsingValidUserNameAndInvalidPassword"></include>
     </methods>
    </class>
   <class name="com.obsqura.testscripts.DeliveryBoyTest">
     <methods>
         <include name="verifyDeliveryBoyNavigation"></include>
          <include name="verifyFontWeightofSearchButton"></include>
      </methods>
    </class>
     <class name="com.obsqura.testscripts.ManageUserTest">
     <methods>
         <include name="verifyManageUserNavigation"></include>
         <include name="verifyColorofSearchButton"></include>
     </methods>
    </class>
   <class name="com.obsqura.testscripts.PushNotificationTest">
     <methods>
         <include name="verifyPushNotificationNavigation"></include>
         <include name="enterValueInPushNotification"></include>
     </methods>
    </class>
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
