<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.obsqura.testscripts.Listeners"/>
</listeners>
<parameter name="username" value="admin"/>
<parameter name="password" value="admin"/>

 <test thread-count="1" name="testng">
<parameter name="browser" value="chrome"></parameter>
 <classes>
     <class name="com.obsqura.testscripts.ManageLocationTest">
     <methods>
          <include name="verifyLocationAddingFunctionality"></include>
          <include name="verifyIfSearchButtonisAlignedAfterNewButton"></include>
          <include name="verifyEditButtonFunctionalityInManageLocationField"></include>
         <include name="verifyDeleteButtonFunctionalityInManageLocationField"></include>
         <include name="verifyColorofSearchButton"></include>
     </methods>
    </class>
</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
